<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded">
            </span>
            <div class="responsive-desktop">
                <div ng-switch="isAuthenticated()">

                    <div class="alert alert-success" ng-switch-when="true"
                         translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                        You are logged in as user "Admin".
                    </div>

                    <!--div class="alert alert-warning" ng-swdd itch-when="false" translate="global.messages.info.authenticated">
                        If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                        password="admin".
                    </div-->


                    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                        Don't have an account? <a href=\"#/register\">Register</a>
                    </div>
                </div>

                <p translate="main.question">
                    What's this all about?
                </p>

                <ul>
                    <li><a href="/faqs" target="_blank" translate="main.link.homepage">Our FAQs</a></li>
                    <li><a href="/about" target="_blank" translate="main.link.stackoverflow">About Us</a></li>
                    <li><a href="/contactus"  translate="main.link.bugtracker">Contact Us</a></li>
                 </ul>
                <p>
                    <span translate="main.like">If you like BestPriceForYourCar.com, don't forget to tell your friends.!</span>
                </p>
            </div>
        </div>
        <div class="col-md-8">




            <h1 translate="main.title">Welcome, Java Hipster!</h1>
            <p class="lead" translate="main.subtitle">This is your homepage</p>


            <div class="search-div">

                <div class="search-input">

                    <div ng-show="regValid" class="tick32x32 vrnResultAvailableCheckmark">
                    </div>

                    <input type="text" class="reg-number-input" ng-change="vrnChange()" ng-model="vrnRaw" maxlength="8" />
                </div>

                <div class="search-result" ng-show="vrnResultAvailable" >


                    <div class="wizard">
                        <wizard on-finish="finishedWizard()">
                            <wz-step title="Enter VRN">


                                <div class="wizardcontainer">


                                    <div class="search-result-control">
                                        <input type="submit" wz-next value="CONTINUE" />
                                    </div>

                                    <div class="search-result-details">
                                        <i>Your Car:</i>
                                        <b>BMW 530i SE</b><br />
                                        60,000 Miles<br />
                                        Metallic Silver<br />
                                        Sept 2005<br />
                                    </div>
                                </div>


                            </wz-step>
                            <wz-step title="Condition">


                                <div class="wizardcontainer">
                                    <div class="search-result-control">
                                        <input type="submit" wz-next value="CONTINUE" />
                                    </div>

                                    <h5>Enter Condition</h5>
                                    <p>Please tell us about the condition of this vehicle and list all the problems you are aware of.</p>

                                </div>
                            </wz-step>
                            <wz-step title="Finish">
                                <div class="wizardcontainer">
                                    <div class="search-result-control">
                                        <input type="submit" wz-next value="START SELLING" />
                                    </div>
                                    <h5>Type your details</h5>
                                    <p>Please type your email and a password and click 'GO' to begin selling your car.</p>

                                </div>
                            </wz-step>
                        </wizard>
                    </div>


                    <!--div class="search-result-image">
                        <img ng-src="/assets/images/upload-pictures.png" ng-click="uploadClick()" />
                    </div-->



                </div>


                <div ng-show="searching" class="loadingindicator">
                     <div ng-show="searching" class="loading64x64 ">
                    </div>
                </div>


            </div>




            <div class="responsive-mobile">
                <div ng-switch="isAuthenticated()">

                    <div class="alert alert-success" ng-switch-when="true"
                         translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                        You are logged in as user "Admin".
                    </div>

                    <!--div class="alert alert-warning" ng-swdd itch-when="false" translate="global.messages.info.authenticated">
                        If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                        password="admin".
                    </div-->

<!--
                    <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                        Don't have an account? <a href=\"#/register\">Register</a>
                    </div>
                    -->
                </div>
<!--
                <p translate="main.question">
                    What's this all about?
                </p>

                <ul>
                    <li><a href="/faqs" target="_blank" translate="main.link.homepage">Our FAQs</a></li>
                    <li><a href="/about" target="_blank" translate="main.link.stackoverflow">About Us</a></li>
                    <li><a href="/contactus"  translate="main.link.bugtracker">Contact Us</a></li>
                </ul>
                <p>
                    <span translate="main.like">If you like BestPriceForYourCar.com, don't forget to tell your friends.!</span>
                </p>
                -->
            </div>
        </div>
    </div>
</div>
